.slide-up-transition {
  opacity: 0;
  transform: translateY(5rem);
}
.slide-up-transition-inview {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease 0.2s;
}

.slide-right-transition {
  opacity: 0;
  transform: translateX(-5rem);
}
.slide-right-transition-inview {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease 0.2s;
}

.slide-left-transition {
  opacity: 0;
  transform: translateX(5rem);
}
.slide-left-transition-inview {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease 0.2s;
}

.opacity-transition {
  opacity: 0;
}
.opacity-transition-inview {
  opacity: 1;
  transition: all 1s ease 0.2s;
}
